.slider {
    display: flex;
    width: 100%;
    height: max-content;
    background-color: #3498db;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.movies-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px;
    z-index: 2;
}

.movie {
    width: 30%;
    height: 100%;
}

.movie p {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    overflow-x: hidden;
}

img {
    width: 15vw;
    aspect-ratio: 2/3;
    object-fit: fill;
    height: auto;
}
button
{
    background: rgba(0, 0, 0, 0);
}

button:hover,
form {
    cursor: pointer;
}

.scroll-button {
    background-image: url('../static/arrow-left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    min-width: 2vw;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    img {
        height: 25vw;
    }

}